# Secrets - never track these
.env
.env.backup
firebase-auth.json

# IDE
/.idea
/.vscode

# Misc
/public/hot
/public/debug_paytabs.log
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
storage/debugbar/.gitignore
